<ul class="list-unstyled posts-list">
  {{#each posts as |post|}}
    <li data-id="{{post.id}}">
      <h3 class="post-title">{{post.title}}</h3>
      <h4 class="post-date">{{post.date}}</h4>
    </li>
  {{/each}}
</ul>
